<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanamizu.campushelp.mapper.ConfigMapper">

    <!-- 定义结果映射 -->
    <resultMap id="configResultMap" type="cn.hanamizu.campushelp.entity.Config">
        <result property="key" column="key"/>
        <result property="value" column="value"/>
    </resultMap>

    <!-- 根据key查询value的SQL语句 -->
    <select id="getValueByKey" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `value` FROM config WHERE (`key` = #{key})
    </select>


</mapper>
