<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanamizu.campushelp.mapper.UserMapper">

    <resultMap id="userResultMap" type="cn.hanamizu.campushelp.entity.User">
        <id column="id" property="id"/>
        <association property="school" column="school_id" select="findEntitySchoolById"/>
        <association property="dept" column="dept_id" select="findEntityDeptById"/>
        <association property="aClass" column="class_id" select="findEntityClassById"/>
    </resultMap>

    <select id="findEntitySchoolById" resultType="cn.hanamizu.campushelp.entity.School">
        select *
        from school
        where id = #{id}
    </select>

    <select id="findEntityDeptById" resultType="cn.hanamizu.campushelp.entity.Dept">
        select *
        from dept
        where id = #{id}
    </select>

    <select id="findEntityClassById" resultType="cn.hanamizu.campushelp.entity.Class">
        select *
        from class
        where id = #{id}
    </select>

</mapper>